{% extends 'base.html.twig' %}

{% block title %}
	{{ tache.titre }}
	- TaskLinker
{% endblock %}
{% block page_title %}Nom de la tache
{% endblock %}

{% block body %}

	<div id="content">
		{% include 'tache/_form.html.twig' with {
            form: form,
            button_label: 'Sauvegarder',
            show_delete: true,
            tache: tache
        } %}
	</div>
{% endblock %}
