{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - TaskLinker
{% endblock %}
{% block page_title %}Ajouter une tâche
{% endblock %}

{% block body %}

	<div id="content">
		{% include 'tache/_form.html.twig' with {
            form: form,
            button_label: 'Ajouter'
        } %}
	</div>
{% endblock %}
