{% extends 'base-logout.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="auth-card auth-center">
        <h1 class="auth-title">Bienvenue sur TaskLinker</h1>
        <p class="auth-subtitle">Commencez dès maintenant - gratuitement</p>

        <p class="auth-small">Vous avez déjà un compte ?</p>

        <a class="auth-link" href="{{ path('app_login') }}">
            <button class="auth-btn btn-dark" type="button">Se connecter</button>
        </a>

        <div class="auth-divider"> ou </div>

        <a class="auth-link" href="{{ path('app_register') }}">
            <button class="auth-btn btn-light" type="button">S’inscrire</button>
        </a>
    </div>
{% endblock %}